/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding: 24px 27px 24px 15px;
}

/* webstudio logo */
.link__logo-text {
  font-family: "Raleway";
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  width: 145px;
}
.link__logo-text .link__accent {
  color: #2196f3;
}

/* navigation link */
.nav__go-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav__go-links li:last-child {
  margin-left: 46px;
}
.nav__go-links li:nth-child(2) {
  margin-left: 46px;
}

.nav__go-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__go-link:hover, .nav__go-link:focus {
  color: #2196f3;
}

/* contact link */
.contact-links {
  display: flex;
  align-items: center;
}
.contact-links__contact-link:last-child {
  margin-left: 30px;
}
.contact-links__contact-link:first-child {
  margin-left: 276px;
}

.contact-links__contact-link {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-links__contact-link:hover, .contact-links__contact-link:focus {
  color: #2196f3;
}
.contact-links__contact-link:hover .contact-links__contact-icon, .contact-links__contact-link:focus .contact-links__contact-icon {
  fill: #2196f3;
}

.contact-links__contact-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* pages current*/
.current {
  position: relative;
  color: #2196f3;
}
.current::after {
  position: absolute;
  display: block;
  content: "";
  border-radius: 2px;
  background: #2196f3;
  width: 100%;
  height: 4px;
  bottom: 0;
}

/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.3)), url("../images/img10.jpg");
  background-size: cover;
}

.hero__head-btn {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__headline {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  width: 696px;
}

.hero__btn-service {
  background: #f5f4fa;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 41px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn-service:hover, .hero__btn-service:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
}

.advanteges__box-icon {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.advanteges__info h4 {
  margin: 0;
  padding-bottom: 10px;
}

.advanteges__info {
  max-width: 270px;
  margin: 0;
}

.advanteges__text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advanteges__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-services__img-list {
  display: flex;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  margin: 0;
}

.our-services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

/*  section 3 our-services  label */
.our-services__img {
  position: relative;
}

.our-services__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  background-color: #f5f4fa;
}

.team__img-list {
  display: flex;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  margin: 0;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.team__surname {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  justify-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team__card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  margin: 0;
  width: 270px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

/* card social-icon */
.team__icon-social {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0 32px 30px 32px;
}

.team__social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover .team__social-icon, .team__social-link:focus .team__social-icon {
  fill: #ffffff;
}
.team__social-link:hover, .team__social-link:focus {
  background: #2196f3;
}

/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
}

.clients__list {
  display: flex;
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0 15px;
  justify-content: space-between;
}

.clients__icon-box {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon-box:hover, .clients__icon-box:hover .clients__logo {
  border-color: #2196f3;
  fill: #2196f3;
}

.clients__logo {
  fill: #afb1b8;
  margin: 16px 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__link {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline;
}

.footer__logo-text {
  font-family: "Raleway";
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  background-color: #2f303a;
}

.footer__accent {
  color: #2196f3;
}

.footer__contact-link-map {
  font-size: 14px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact-link-map:hover, .footer__contact-link-map:focus {
  color: #2196f3;
}

.footer__contact-email {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact-email:hover, .footer__contact-email:focus {
  color: #2196f3;
}

.footer__contact-nr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact-nr:hover, .footer__contact-nr:focus {
  color: #2196f3;
}

.footer__link-contact {
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer__email-contact {
  margin-bottom: 9px;
}

/* ########## footer social icon #########*/
.footer__list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: auto;
}

.footer__title-icon {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__icon-social {
  margin-left: 70px;
}

.footer__icon {
  fill: #ffffff;
  margin: 12px;
}

.footer__box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer__box-icon:hover {
  color: #2196f3;
}

.footer__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  background: #2196f3;
}

/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.form {
  margin-left: 78px;
}

.form__footer {
  display: flex;
}

.form__btn-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2196f3;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px 28px 10px 42px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn-foot:hover, .form__btn-foot:focus {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__foot-text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.form__email-footer {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: var(--background-color);
}

/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ########## backdrop ########## */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  height: 581px;
  width: 528px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transition: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: linear;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ########## form modal window ##########*/
.modal__label {
  display: flex;
  flex-direction: column;
}

.modal__input-wrapper {
  position: relative;
}

.modal__icon-input {
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 10px;
  top: 11px;
}

.modal__input-box {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-box:focus {
  border-color: #2196f3;
  outline: none;
}
.modal__input-box:focus + .icon-input {
  fill: #2196f3;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__label-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__text-textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text-textarea::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__text-textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__text-textarea:focus {
  border-color: #2196f3;
  outline: none;
}

/* ########## checkbox ########## */
.modal__checkbox_hide {
  visibility: hidden;
}

.modal__check_box {
  position: relative;
  cursor: pointer;
}
.modal__check_box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal__checkbox_hide:checked + .modal__check_box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 15px;
  background-color: #2196f3;
  background-image: url(../images/checkicon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 2px;
}

.modal__form_rules {
  display: flex;
}

.modal__rules_form {
  margin-left: 25px;
  margin-right: 14px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal__link_modal {
  text-decoration-line: underline;
}

.modal__btn_form {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn_form:hover, .modal__btn_form:focus {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 310px;
  padding-right: 318px;
  justify-content: space-between;
}

.filters__switch-element {
  border-radius: 4px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__switch-element:hover, .filters__switch-element:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 34px;
  margin-bottom: 0px;
}
.card-set > li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set > li:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06);
}

.card-set__bottom-card {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.card-set__name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}

.card-set__type-of-project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
  margin-bottom: 0;
}

/* body font */
/* colors */
/* animation*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set__card-img {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.card-set__overlay {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

li:hover .card-set__overlay {
  transform: translatey(0);
}/*# sourceMappingURL=main.css.map */