@import "../utils/vars";

.footer__contact-container {
  margin: 0 auto;
}

.footer {
  background-color: $background-color;
  padding: 60px 0;

  &__logo-text {
    font-family: "Raleway";
    color: $text-button;
    font-weight: 700;
    font-size: 26px;
    background-color: $background-color;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
  }

  &__accent {
    color: $Selection-color;
  }
}

.footer__link-contact {
  text-align: center;
  width: 251px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

.footer__contact-link-map {
  color: $text-button;

  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $Selection-color;
  }
}

.footer__contact-email {
  text-decoration-line: underline;
  color: $text-color-form;
  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $Selection-color;
  }
}

.footer__contact-nr {
  color: $text-color-form;
  background-color: $background-color;

  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $Selection-color;
  }
}

/* ########## footer social icon #########*/
.footer {
  &__list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: auto;
  }
  &__title-icon {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $text-button;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
  }
}

.footer {
  &__icon-social {
    margin-top: 54px;
    margin-bottom: 60px;
  }

  &__icon {
    fill: $text-button;
    margin: 12px;
  }
}

.footer__box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:hover {
    color: $Selection-color;
  }
}
.footer__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    background: $Selection-color;
  }
}

@media (max-width: 1199px) {
  .footer__link {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer {
    &__address-social {
      display: flex;
      align-items: baseline;
      gap: 144px;
    }
    &__icon-social {
      margin: 0;
    }
  }
}

@media (min-width: 1200px) {
  .footer__link {
    display: flex;

    align-items: baseline;
  }
  .footer__address-social {
    display: flex;
    align-items: baseline;
  }
  .form__footer {
    display: flex;
  }
  .footer__icon-social {
    margin: 0;
    margin-left: 70px;
  }
  .form__email-footer {
    width: 358px;
  }
  .form__foot-text {
    width: 207px;
  }
  .form__footer {
    width: 570px;
  }
  .form {
    margin-left: 78px;
  }
  .form__btn-foot {
    margin-left: 10px;
    width: 200px;
  }
  .footer__title-icon {
    text-align: start;
  }
  .footer__logo-text {
    display: flex;
    justify-content: left;
  }
  .footer__link-contact {
    text-align: start;
  }
}
